@model Department

<h1>Update Department</h1>

<form asp-controller="Department" asp-action="Update" method="post">
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Department Name</th>
                <td><input asp-for="Name" type="text" class="form-control" /></td>
            </tr>
            <tr>
                <th>Location-Ref-Id</th>
                <td><input asp-for="LocationRefId" type="text" class="form-control" /></td>
            </tr>
           
        </tbody>
    </table>

    <div>
        <button type="submit" class="btn btn-primary">Update Department</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Back to Listing</a>
    </div>
</form>