@*@model List<Employee>*@

@model List<EntityFrameworkCoreExample.Models.Employee>


<div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>EmployeeId</th>
                        <th>EmployeeName</th>
                        <th>Salary</th>
                        <th>Address</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <th>@emp.Id</th>
                            <th>@emp.Name</th>
                            <th>@emp.Salary</th>
                            <th>@emp.Address</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>



