@model List<Job>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <th>Job_id</th>
                <th>JobName</th>
                <th>MinSalary</th>
                <thead>MaxSalary</thead>
            </thead>
            <tbody>
                @foreach(var job in Model)
                {
                <tr>
                    <td>@job.Id</td>
                    <td>@job.Name</td>
                    <td>@job.MinSalary </td>
                    <td>@job.MaxSalary</td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

